.header{
    background-color: #131921;
    display: flex;
    /* display : inline is default that stacks elements, with flex it puts em side by side. */
    align-items: center;

    /* this is to make it stick so when yuou scroll it stays on top */
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__link{
    color: white;
    text-decoration: none;
}

.header__logo{
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 18px;
}

.header__search{
    display: flex;
    flex: 1;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;

}

.header__searchIcon{
    background-color: #cd9042;
    padding: 5px;
    height: 22px !important;
}

.header__optionLineOne{
    font-size: 10px;
}

.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}


.header__optionBasket{
    display: flex;
    align-items: center;
}


.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}